<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lyzzcw.work.zim.router.infrastructure.mapper.ImGroupMemberMapper">
  <resultMap id="BaseResultMap" type="lyzzcw.work.zim.router.infrastructure.entity.ImGroupMember">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="group_id" jdbcType="BIGINT" property="groupId" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="alias_name" jdbcType="VARCHAR" property="aliasName" />
    <result column="head_image" jdbcType="VARCHAR" property="headImage" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="quit" jdbcType="TINYINT" property="quit" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, group_id, user_id, alias_name, head_image, remark, quit, created_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from im_group_member
    where id = #{id,jdbcType=BIGINT}
  </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from im_group_member
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="lyzzcw.work.zim.router.infrastructure.entity.ImGroupMember">
    insert into im_group_member (id, group_id, user_id, 
      alias_name, head_image, remark, 
      quit, created_time)
    values (#{id,jdbcType=BIGINT}, #{groupId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, 
      #{aliasName,jdbcType=VARCHAR}, #{headImage,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{quit,jdbcType=TINYINT}, #{createdTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="lyzzcw.work.zim.router.infrastructure.entity.ImGroupMember">
    insert into im_group_member
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="groupId != null">
        group_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="aliasName != null">
        alias_name,
      </if>
      <if test="headImage != null">
        head_image,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="quit != null">
        quit,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="groupId != null">
        #{groupId,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="aliasName != null">
        #{aliasName,jdbcType=VARCHAR},
      </if>
      <if test="headImage != null">
        #{headImage,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="quit != null">
        #{quit,jdbcType=TINYINT},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="lyzzcw.work.zim.router.infrastructure.entity.ImGroupMember">
    update im_group_member
    <set>
      <if test="groupId != null">
        group_id = #{groupId,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="aliasName != null">
        alias_name = #{aliasName,jdbcType=VARCHAR},
      </if>
      <if test="headImage != null">
        head_image = #{headImage,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="quit != null">
        quit = #{quit,jdbcType=TINYINT},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="lyzzcw.work.zim.router.infrastructure.entity.ImGroupMember">
    update im_group_member
    set group_id = #{groupId,jdbcType=BIGINT},
      user_id = #{userId,jdbcType=BIGINT},
      alias_name = #{aliasName,jdbcType=VARCHAR},
      head_image = #{headImage,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      quit = #{quit,jdbcType=TINYINT},
      created_time = #{createdTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="findGroupMembersByGroupId"
          resultType="lyzzcw.work.zim.router.infrastructure.entity.ImGroupMember">
    select
           *
    from im_group_member
    where group_id = #{groupId}

  </select>
</mapper>